<div ng-controller="headerController">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/#/users">Dopost</a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!--<div ng-if="loggedInUser == null">-->
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="/#/login">Login</a></li>
                            <li><a href="/#/register">Register</a></li>
                        </ul>

                    <!--</div>-->


                <!--<div ng-if="loggedInUser != null">-->
                    <!--<ul class="nav navbar-nav navbar-right">-->

                        <!--<li><a href="">{{ loggedInUser.name }}</a></li>-->
                    <!--</ul>-->

                <!--</div>-->

            </div>
        </div>
    </nav>
</div>
